body {
    margin: 0;
}
section {
    position: relative;
}
.header {
    font-size: 10em;
    color: black;
    position: absolute;
    top: 10%;
    text-align: center;
    transform: translate(35%);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}
.item0 {
    height: 100%;
    background-color: white;
    text-align: center;
}
.item1 {
    height: 100%;
    background-color: darkgray;
    text-align: center;
    color: darkred;
    font-size: 3em;
}
.text {
    position: relative;
    height: 100%;
    top: 70%;
}